body {
    background-color: #26408b;
    color: #0d0221;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    line-height: 16px;
    margin-top: 2em;
}

header {
    margin: 0 auto;
    background-color: #0f084b;
    border-radius: 20px 20px 0px 0px;
    width: 40%;
    height: 55px;
    padding: 1em;
    font-family: 'Redressed', cursive;
    color: #c2e7d9;
    box-shadow: 10px 0 5px 5px rgba(0, 0, 0, 0.2);
}

#terri {
    width: 110px;
    height: auto;
    margin-top: -3em;
    margin-right: 2em;
}

@media screen and (min-width:480px) {
    #approval img {
        display: none;
    }
}

main {
    margin: 0 auto;
    background-color: #a6cfd5;
    padding: 1em;
    width: 40%;
    box-shadow: 10px 0 5px 5px rgba(0, 0, 0, 0.2);
}

hr {
    border: none;
    border-top: 1px dotted #0d0221;
}

footer {
    margin: 0 auto;
    background-color: #0f084b;
    border-radius: 0 0 20px 20px;
    width: 40%;
    height: 60px;
    padding: 1em;
    color: #c2e7d9;
    text-align: center;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, .2);
}

footer a {
    color: #c2e7d9;
}

#update {
    font-size: .8em;
    color:rgba(255, 217, 0, 0.774);
}

h1 {
    font-size: 3em;
}

#approval {
    opacity: 0.5;
    width: 14em;
    float:right;
    margin-top: -12em;
    margin-right: 8em;
}