body {
    background-color: #26408b;
    color: #0d0221;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 2em;
    
}

header {
    max-width: 800px;
    box-shadow: 10px 0 5px 5px rgba(0, 0, 0, 0.2);
}

header, h2 {
    margin: 0 auto;
    background-color: #0f084b;
    border-radius: 20px 20px 0px 0px;
    padding: 1em;
    font-family: 'Fraunces', cursive;
    color: #c2e7d9;
    text-align: center;
}

section {
    border-radius: 20px;
}

a {
    line-height: 2em;
}
main {
    max-width: 800px;
    margin: 0 auto;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: auto;
    background-color: #a6cfd5;
    padding: 1em;
    box-shadow: 10px 0 5px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

main section h2 {
    background-color: fff;
}
main section picture {
    display:block;    
}

main section picture img {
    width: 100%;
}

p {
    height: 8em;
}
footer {
    height: 60px;
    box-shadow: 10px 10px 5px 5px rgba(0, 0, 0, .2);
}

footer, section p {
    max-width: 800px;
    margin: 0 auto;
    background-color: #0f084b;
    border-radius: 0 0 20px 20px;
    padding: 1em;
    color: #c2e7d9;
    text-align: center;
}

footer a {
    color: #c2e7d9;
}

#update {
    font-size: .8em;
    color:rgba(255, 217, 0, 0.774);
}

h1 {
    font-size: 3em;
}

@media only screen and (min-width: 60em) {
    main {
        grid-template-columns: 1fr 1fr 1fr;
    }
}