body {
    background-color: #36512e;
    color: #0d0221;
    font-family: Spartan, sans-serif;
    font-size: 16px;
}

main {
    max-width: 800px;
    margin: 0 auto;
}

header, h1, h2 {
    margin: 0 auto;
    max-width: 800px;
    background-color: #42281d;
    padding: 1em;
    font-family: 'Architects Daughter', cursive;
    color: #9f7833;
    text-align: center;
}

h2 {
    font-size: 2em;
}

nav {
    background-color: #9f7833;
    text-align: center;
    font-size: 1.5rem;
    padding: 1em;
}

nav ul {
    padding: 0;
}

nav li {
    list-style-type: none;
}

nav a {
    display: block;
    text-decoration: none;
}

main {
    margin: 0 auto;
    background-color: #d0ccc4;
    padding: 1em;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
}

.grid > span {
    padding: 1rem .75rem;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.grid span:nth-child(odd) {
    text-align: right;
}

.colorgrid {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #ffffff;
    
}

.colorgrid > span {
    padding: 1rem .75rem;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.colorgrid span:nth-child(odd) {
    font-weight: bold;
}

#gray {
    background-color: #d0ccc4;
}

#green {
    background-color: #36512e;
    color: #ffffff;
}

#gold {
    background-color: #9f7833;
    color:#ffffff;
}

#brown {
    background-color: #42281d;
    color: #ffffff;
}
span ul {
    margin: 0;
}

.typogrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    background-color: #ffffff;
    
}

.typogrid > span {
    padding: 1rem .75rem;
    border-left: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

.typogrid {
    font-weight: bold;
}

.arcdau {
    font-family: 'Architects Daughter';
}

.fortyeight {
    font-size: 3rem;
}

.thirtysix {
    font-size: 2rem;
}

.twentytwo {
    font-size: 1.5rem;
}

footer {
    margin: 0 auto;
    max-width: 800px;
    background-color: #42281d;
    height: 60px;
    padding: 1em;
    color: #ffffff;
    text-align: center;
}

h1 {
    font-size: 3em;
}

img {
    max-width: 15rem;
}