html {
    box-sizing: border-box;
  }
  
  body {
    background-color: #1b98e0;
    color: #000d07;
    font-family: 'Galdeano', 'sans serif';
    font-size: 16px;
  }
  
  main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fffdf7;
    padding: 0 0 1rem 0;
  }
  
  header,
  h1,
  h2, h3, footer {
    margin: 0 auto;
    padding: 10px 0;
    font-family: 'Cinzel Decorative', serif;
    color: #243e36;
    text-align: center;
  }
  
  header, h1 {
      background-color: #c2a83e;
      font-size: 2.5rem;
  }

  header .icon {
      border-radius: 15px;
      height:50px;
      width: 71px;
      box-shadow: 4px 4px 8px;
  }

  header img {
    max-width: 100%;
    margin: 0 auto;
  }

  img {
    max-width: 100%;
  }
  
  #currentimg {
    vertical-align: -80%;
  }

  #current {
    margin: 1rem 0;
  }

  #current img {
    width: 50px;
  }

  #current p {
    margin: 0 auto;
  }

  .social {
    vertical-align: -20%;
  }

  header figure {
    margin: .4rem;
  }

  header figcaption {
    font-size: .8rem;
    font-weight: bold;
  }

  header p {
    font-size: 1.2rem;
    font-weight: bold;
  }

  h2 {
      font-size: 1.5rem;
      font-weight: bold;
  }

  h3, nav {
    font-weight: bold;
}

nav {
    background-color: #c2a83e;
    padding: 1px 0 0;
}

.button, nav {
  background-color: #243e36;
  font-size: 1.3rem;
  margin: 0 auto;
}

nav button {
  margin: 0.2rem 2%;
  background-color: transparent;
  border: none;
  font-size: 1.6rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.button, nav ul li a {
  display: block;
  padding: 0.8rem 2%;
  text-decoration: none;
  color: #c2a83e;
  border-top: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul li.active a {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
}

nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
}

nav ul.hide {
  display: none;
}

#icons {
  display:flex;
  justify-content: flex-end;
  gap: 1rem;
  width: 95%;
}

#icons img  {
  padding: 0 .25em;
}

#icons button {
  margin-right: auto;
  margin-bottom: .25rem;
  margin-left: .25rem;
  height: 38px;
  width: 44px;
  font-size: 2rem;
}

#alert {
  background-color: #f45b69;
  color: #000d07;
  font-family: 'Galdeano';
  padding: .5rem;
}

#alert p:nth-child(odd){
  font-size: 1rem;
}

#alert p:nth-child(even) {
  font-size: 1.3rem;
}

#close {
  display: block;
  position: absolute;
  left: 1rem;
}

#alert button {
  font-size: 1.5rem;
}

#alert {
  display: none;
}

.gallery {
  display:none;
}

section.article, section.gallery {
  border: 1px solid #000d07;
}

section img {
  display: block;
  margin: 0 auto;
}

section p {
  padding: 0 1rem;
}

.lgcol2 img {
  min-width: 230px;
}

.lgcol1 img {
  min-width: 230px;
}

.gallery img {
  max-width: 100%;
}

.gallery, .events {
  text-align: center;
}

.business div:nth-child(even) {
  background-color: #c2a83e;
}

.join p {
  text-align: left;
}

.join {
  text-align: center;
}

.forecast {
  display: none;
}

#listing {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

#listing img {
  max-width: 130px;
  max-height: 100px;
}

.item {
  width: 260px;
  height: 260px;
  background:#c2a83e;
  margin: 10px;
  padding: 1rem;
}

.buttons {
  display:flex;
  justify-content: space-around;
  align-items: center;
  
}

@media only screen and (max-width: 840px) {


table, thead, tbody, th, td, tr {
  display: block;
}

thead tr {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

tr:nth-child(1) {
  background: white;
}

tr:nth-child(2) {
  background: goldenrod;
}

tr:nth-child(3) {
  background: silver;
}

tr:nth-child(4) {
  background: gold;
}

td {
  border: none;
  border-bottom: 1px solid #cccccc;
  position: relative;
  padding-left: 50%;
}

td:before {
  position: absolute;
  top: 0;
  left: 10px;
  width: 40%;
  padding-right: 12px;
  white-space: nowrap;
}

td:nth-of-type(1):before {
  content: "Membership level";
}

td:nth-of-type(2):before {
  content: "Newsletter";
}



}
  footer {
      background-color: #c2a83e;
      font-size: .8rem;
      font-weight: bold;
  }
